body{
  font-family: sans-serif;
  color: white;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;

}

a {
  text-decoration: none;
  color: white;
}

/*------------------------HEADER--------------------------*/

header{
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
}

header a{
  color: black;
}

nav {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

#nav_left{
  position: absolute;
  left: 1px;
}

#nav_mid li a {
  text-align: center;
  padding: 17px 30px;
}

#nav_mid li a:hover {
  background-color: black;
  color: white;
}

#panier{
  border-left: 1px solid black;
}

.logo{
  float: left;
}

.boutonsNav{
  width: 10px;
  height: 10px;
}

/*------------------------CORPS--------------------------*/
section{
  background-color: black;
}

.containerTitre2{
  border-top: 1px solid white;
}

h2{
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
}

.cat {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cat div{
  margin: 10px;
}

.cat a {
  text-align: center;
}

.displayObjets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cover {
  width: 300px;
  height: 300px;
}

.plus{
  padding-bottom: 20px;
  text-decoration: underline;
}

/*------------------------FOOTER--------------------------*/

footer {
  background-color: white;
  color: black;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: white;
}

footer ul li {
  text-align: center;
  width: 250px;
}

footer ul li a {
  text-align: center;
  text-decoration: underline;
  color: black;
  width: 250px;
}

/* ------------------------ catVinyle--------------------- */

.catFormulaire form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
  color: white;
  align-items: center;
  border-bottom: 1px solid white;
  margin-bottom: 0px;
}

.catFormulaire form div{
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.viewCatSec{
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.viewCatSec form p{
  text-align: center;
}

.viewCatDiv{
  margin: 10px;
}

input[type=image]{
  width: 300px;
  height: 300px;
}

/* ------------------------PageProduit--------------------- */

.produit{
  padding-bottom: 14%;
}

.containerTitre{
  background-color: black;
  color: white;
}

.produit{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produit img{
  height: 500px;
  width: 500px;
}

.tout{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produit article div{
  margin: 10px;
  padding-top: 0px;
  width: 500px;
}
.vinyleInfo p{
  margin-top: 0px;
}

.non{
  margin: 20px;
  width: 500px;
}

.viewCatSec a{
  text-decoration: underline;
}

/* ------------------------Register--------------------- */

#connexion p {
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  text-align: center;
}

#login {
  border-bottom: 1px solid white;
}

.infosconnexion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0px;
}

.infosconnexion div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infosconnexion div:last-of-type{
  display: block;
  text-align: center;
}

#formsend{
  width: 150px;
  margin-top: 10px;
}

#formlogin{
  width: 150px;
  margin-top: 10px;
}

.infosconnexion div label{
  display: inline-block;
  width: 180px;
  text-align: right;
}

.infosconnexion div input{
  width: 174px;
}

/* ------------------------Contact--------------------- */

#contact{
  padding: 21% 0%;
  color: white;
}

#contact p{
  margin: 0px;
}

/* ------------------------Panier--------------------- */
